<h1>Olá! Por favor valide o seu e-mail</h1>

<p>
    Por favor valide o seu e-mail de acordo com o link abaixo: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmar e-mail</a>.
    Este link irá expirar em {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Atenciosamente,
    Ajuda Tche!
</p>
