<form method="post" action="{{ path('app_tipo_unidade_delete', {'id': tipo_unidade.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tipo_unidade.id) }}">
    <button class="btn">Delete</button>
</form>
