{% extends 'base.html.twig' %}

{% block title %}New TipoUnidade{% endblock %}

{% block body %}
    <h1>Create new TipoUnidade</h1>

    {{ include('tipo_unidade/_form.html.twig') }}

    <a href="{{ path('app_tipo_unidade_index') }}">back to list</a>
{% endblock %}
