{% extends 'base.html.twig' %}

{% block title %}New PostoAjuda{% endblock %}

{% block body %}
    <h1>Create new PostoAjuda</h1>

    {{ include('posto_ajuda/_form.html.twig') }}

    <a href="{{ path('app_posto_ajuda_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}
