{% extends 'raw.html.twig' %}

{% block title %}Redefinir a senha{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Redefinir a senha</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Digite seu endereço de e-mail e lhe enviaremos um
                link para redefinir sua senha.
            </small>
        </div>

        <button class="btn btn-primary">Enviar e-mail de redefinição de senha</button>
    {{ form_end(requestForm) }}
{% endblock %}
