{% extends 'base.html.twig' %}

{% block title %}Novo Posto de Coleta{% endblock %}

{% block body %}
    {# <h1>Novo Posto de Coleta</h1> #}

    {# <a href="{{ path('app_posto_coleta_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i></a> #}

    {# {{ include('posto_coleta/_form.html.twig') }} #}
    <div class="container mt-5 p-5">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h2 class="font-weight-bold">Novo Posto de Coleta</h2>
          <a href="{{ path('app_posto_coleta_index') }}" class="btn btn-primary shadow"
            ><i class="fa fa-arrow-left"></i> Voltar</a
          >
        </div>
        <div class="card shadow-lg">
          <div class="card-body">
            {{ include("posto_coleta/_form.html.twig") }}
          </div>
        </div>
      </div>

{% endblock %}
