{% extends 'base.html.twig' %}

{% block title %}New PostoColeta{% endblock %}

{% block body %}
    <h1>Create new PostoColeta</h1>

    {{ include('posto_coleta/_form.html.twig') }}

    <a href="{{ path('app_posto_coleta_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i></a>
{% endblock %}
