<form method="post" action="{{ path('app_categoria_delete', {'id': categorium.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorium.id) }}">
    <button class="btn btn-danger"> <i class="fas fa-trash"></i></button>
</form>
