{% extends 'base.html.twig' %}

{% block title %}New UnidadeConversao{% endblock %}

{% block body %}
    <h1>Create new UnidadeConversao</h1>

    {{ include('unidade_conversao/_form.html.twig') }}

    <a href="{{ path('app_unidade_conversao_index') }}">back to list</a>
{% endblock %}
