{% extends 'raw.html.twig' %}

{% block title %}Concluido{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="m-auto mt-5">
            <div class="card border-0 mt-5 p-5 shadow">
                <div class="card-header bg-transparent text-center">
                <h2>Registro salvo com sucesso!</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
