{% extends 'raw.html.twig' %}

{% block title %}New Desalojado{% endblock %}

{% block body %}
 

<div class="d-flex">
    <div class="m-auto mt-5">
        <div class="card border-0 mt-5 p-5 shadow">
            <div class="card-header bg-transparent text-center">
            <h2>Cadastro</h2>
            </div>
            <div class="card-body">
                {{ include('desalojado/_form.html.twig') }}
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#desalojado_cpf').on('input', function() {
            var value = $(this).val();
            
            // Remove caracteres não numéricos
            value = value.replace(/\D/g, '');

            // Formata o CPF (000.000.000-00)
            value = value.replace(/(\d{3})(\d)/, '$1.$2');
            value = value.replace(/(\d{3})(\d)/, '$1.$2');
            value = value.replace(/(\d{3})(\d{1,2})$/, '$1-$2');
            
            $(this).val(value);
        });

        $('#desalojado_estado').select2({
            theme: 'bootstrap-5'
        });

        $('#desalojado_cidade').select2({
            theme: 'bootstrap-5',
            placeholder: 'Selecione',
        });

        $('#desalojado_genero').select2({
            theme: 'bootstrap-5',
            placeholder: 'Selecione',
        });

        $('#desalojado_corDaPele').select2({
            theme: 'bootstrap-5',
            placeholder: 'Selecione',
        });

        $('#desalojado_desalojadoTipoAbrigo').select2({
            theme: 'bootstrap-5',
            placeholder: 'Selecione',
        });

        $('#desalojado_estado').on('select2:select', function (e) {
            var data = e.params.data;
            fetch('/cities/' + data.id)
            .then(response => response.json())
            .then(data => {
                var citySelect = document.getElementById('desalojado_cidade');
                citySelect.innerHTML = '';
                data.forEach(function(city) {
                    var option = new Option(city.name, city.id);
                    citySelect.add(option);
                });
            });
        });
        
        $('#desalojado_estado').val(20).trigger('change');
        
        populateCidadesByEstado(20);

        $('#desalojado_celular').on('input', function() {
           // Aplica a formatação e aceita apenas números
            var value = $(this).val();
            
            // Remove caracteres não numéricos
            value = value.replace(/\D/g, '');

            // Formata o celular (00) 00000-0000
            value = value.replace(/(\d{2})(\d)/, '($1) $2');
            value = value.replace(/(\d{5})(\d)/, '$1-$2');
            
            $(this).val(value);
        });

        $('#desalojado_genero').val(null).trigger('change');
        $('#desalojado_corDaPele').val(null).trigger('change');
        $('#desalojado_desalojadoTipoAbrigo').val(null).trigger('change');

    });

    function populateCidadesByEstado(id) {
        $('#desalojado_cidade')
            .empty()
            .append('<option selected="selected" value="">Escolha um estado</option>');
        
        fetch('/cities/' + id)
            .then(response => response.json())
            .then(data => {
                var citySelect = document.getElementById('desalojado_cidade');
                citySelect.innerHTML = '';
                data.forEach(function(city) {
                    var option = new Option(city.name, city.id);
                    citySelect.add(option);
                });
            })
            .then(function() {
                $('#desalojado_cidade').val(null).trigger('change');
            });
    }


    
</script>

{% endblock %}
