{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary btn shadow">
  {{ button_label|default('Salvar') }}
</button>

{{ form_end(form) }}
<script>
  $(document).ready(function() {
    $('#produto_unidadeArmazenamento').select2({
        theme: 'bootstrap-5'
    });

    $('#produto_tiposUnidade').select2({
        theme: 'bootstrap-5'
    });

    $('#produto_unidadesConversao').select2({
        theme: 'bootstrap-5'
    });
    
  });
</script>