{% extends 'raw.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <br>
        <br>
        <br>
        <br>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        
        <label for="username">Email:</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Senha:</label>
        <input class="form-control" type="password" id="password" name="_password">

        <br>

        <button type="submit" class="btn btn-dark">Entrar</button>
    </form>
{% endblock %}
