{% extends 'raw.html.twig' %} {% block title %}Ajuda Tche - Login{% endblock %}
{% block body %}
<div class="d-flex">
  <div class="m-auto mt-5">
    <div class="card border-0 mt-5 p-4 shadow">
      <div class="card-header bg-transparent text-center">
        <h1>Ajuda Tche</h1>
        <h4 class="fw-semibold">Conectando o Rio Grande do Sul</h4>
        <h6 class="text-muted display-9">
          Faça o login e junte-se a nós nessa jornada de auxílio e
          solidariedade.
        </h6>
      </div>
      <div class="card-body">
        {% if error %}
        <div class="alert alert-danger">
          {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
        {% endif %}
        <form action="{{ path('app_login') }}" method="post">
          <input
            type="hidden"
            name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
          />
          <div class="form-group mb-3">
            <label for="username">Email:</label>
            <input
              type="text"
              id="username"
              name="_username"
              value="{{ last_username }}"
              required
              placeholder="exemplo@gmail.com"
              autofocus
              class="form-control shadow-sm shadow-dark"
            />
          </div>
          <div class="form-group mb-3">
            <label for="password">Senha:</label>
            <input
              type="password"
              id="password"
              name="_password"
              required
              placeholder="senha"
              class="form-control shadow-sm shadow-dark"
            />
          </div>
          <div class="form-group">
            <button
              type="submit"
              class="btn btn-outline-dark btn-block shadow-sm shadow-dark"
            >
              Entrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
