{% extends 'base.html.twig' %}

{% block title %}New Entrega{% endblock %}

{% block body %}
    <h1>Nova Entrega</h1>

    <a href="{{ path('app_entrega_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i></a>
    {{ include('entrega/_form.html.twig') }}

{% endblock %}
