{% extends 'base.html.twig' %}

{% block title %}Edit CentroDistribuicao{% endblock %}

{% block body %}
    <h1>Edit CentroDistribuicao</h1>

    {{ include('centro_distribuicao/_form.html.twig', {'button_label': 'Atualizar'}) }}

    <a href="{{ path('app_centro_distribuicao_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i></a>

    {{ include('centro_distribuicao/_delete_form.html.twig') }}
{% endblock %}
