{% extends 'raw.html.twig' %}

{% block title %}CentroDistribuicao{% endblock %}

{% block body %}

<div class="d-flex">
    <div class="m-auto mt-5">
        <div class="card border-0 mt-5 p-5 shadow">
            <div class="card-header bg-transparent text-center">
              <h2>Novo Centro de Distribuicao</h2>
            </div>
            <div class="card-body">
                {{ include('centro_distribuicao/_form.html.twig') }}
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#centro_distribuicao_estado').select2({
            theme: 'bootstrap-5'
        });

        $('#centro_distribuicao_cidade').select2({
            theme: 'bootstrap-5'
        });

        $('#centro_distribuicao_cidade')
        .empty()
        .append('<option selected="selected" value="">Escolha um estado</option>');
    });


    $('#centro_distribuicao_estado').on('select2:select', function (e) {
        var data = e.params.data;
        fetch('/cities/' + data.id)
        .then(response => response.json())
        .then(data => {
            var citySelect = document.getElementById('centro_distribuicao_cidade');
            citySelect.innerHTML = '';
            data.forEach(function(city) {
                var option = new Option(city.name, city.id);
                citySelect.add(option);
            });
        });
    });
</script>

{% endblock %}
