{% extends 'base.html.twig' %}

{% block title %}Edit Funcao{% endblock %}

{% block body %}
    <h1>Editar Função</h1>

    {{ include('funcao/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_funcao_index') }}">Voltar a lista</a>

    {{ include('funcao/_delete_form.html.twig') }}
{% endblock %}
