{% extends 'base.html.twig' %}

{% block title %}New Funcao{% endblock %}

{% block body %}
    <h1>Create new Funcao</h1>

    {{ include('funcao/_form.html.twig') }}

    <a href="{{ path('app_funcao_index') }}">back to list</a>
{% endblock %}
