{% extends 'base.html.twig' %}

{% block title %}Nova Funcao{% endblock %}

{% block body %}
    <h1>Criar nova Função</h1>

    {{ include('funcao/_form.html.twig') }}

    <a href="{{ path('app_funcao_index') }}" class="btn btn-primary">Voltar</a>
{% endblock %}
