{% extends 'base.html.twig' %}
{% block title %}Acesso Negado{% endblock %}
{% block body %}

<div class="container mt-5 p-5">
  <h1 class="mb-3 font-weight-bold">Atenção</h1>

  <div class="table-responsive shadow-lg rounded">
        Acesso Negado
  </div>

</div>
{% endblock %}

