{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Salvar') }}</button>
{{ form_end(form) }}

<script>
    $(document).ready(function() {
        $('#produto_posto_produto').select2({
            theme: 'bootstrap-5'
        });
    });
</script>