{% extends 'base.html.twig' %}

{% block title %}Editar ProdutoPosto{% endblock %}

{% block body %}
    <h1>Editar ProdutoPosto</h1>

    {{ include('produto_posto/_form.html.twig', {'button_label': 'Atualizar'}) }}

    <a href="{{ path('app_produto_posto_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i></a>

    {{ include('produto_posto/_delete_form.html.twig') }}
{% endblock %}
