{% extends 'base.html.twig' %}

{% block title %}New ProdutoPosto{% endblock %}

{% block body %}
    <h1>Novo Produto Posto</h1>

    <a href="{{ path('app_produto_posto_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i></a>

    {{ include('produto_posto/_form.html.twig') }}

{% endblock %}
