{% extends 'base.html.twig' %}

{% block title %}Edit UnidadeArmazenamento{% endblock %}

{% block body %}
    <h1>Edit UnidadeArmazenamento</h1>

    {{ include('unidade_armazenamento/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_unidade_armazenamento_index') }}">back to list</a>

    {{ include('unidade_armazenamento/_delete_form.html.twig') }}
{% endblock %}
