{% extends 'base.html.twig' %}

{% block title %}New UnidadeArmazenamento{% endblock %}

{% block body %}
    <h1>Create new UnidadeArmazenamento</h1>

    {{ include('unidade_armazenamento/_form.html.twig') }}

    <a href="{{ path('app_unidade_armazenamento_index') }}">back to list</a>
{% endblock %}
