name: PHP Composer

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.2
    
    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    - name: Make envfile
      uses: SpicyPizza/create-envfile@v1
      with:
        envkey_APP_ENV: prod
        envkey_DATABASE_URL: ${{ secrets.DATABASE_URL }}
        envkey_MAILER_DSN: ${{ secrets.MAILER_DSN }}
        file_name: .env.local
    - name: Transferir HTML para a VM
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.IP }} # Endereço IP da sua VM
        username: ubuntu # Nome de usuário da sua VM
        key: ${{ secrets.SSH_PRIVATE_KEY }} # Chave SSH privada
        source: "*" # Caminho relativo do arquivo HTML (se estiver no diretório de trabalho)
        target: "/var/www/ajuda-tche/" # Caminho na sua VM onde você deseja que o arquivo seja transferido
    
    - name: Move environment file
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.IP }} # Endereço IP da sua VM
        username: ubuntu # Nome de usuário da sua VM
        key: ${{ secrets.SSH_PRIVATE_KEY }} # Chave SSH privada
        source: "/github/workspace/.env.local" # Caminho relativo do arquivo HTML (se estiver no diretório de trabalho)
        target: "/var/www/ajuda-tche/" # Caminho na sua VM onde você deseja que o arquivo seja transferido
  
  run-commands:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Execute SSH command
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.IP }} # Endereço IP da sua VM
        username: ubuntu # Nome de usuário da sua VM
        key: ${{ secrets.SSH_PRIVATE_KEY }} # Chave SSH privada
        script: |
          cd /var/www/ajuda-tche/
          php bin/console cache:clear
          sudo chmod 777 -Rf var
        
